.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  table-layout: fixed;
  border-width: 0.3em;
  border-color: rgb(10, 10, 104);
  background-color: white;
}

.body {
  height: 1em;
  overflow: auto;
}

th,
td {
  padding: 25px;
  border-width: 0.1em;
  border-color: rgb(10, 10, 104);
}

td {
  font-size: large;
  font-weight: 600;
}

.aaa {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.tab-content {
  margin-top: 1em;
}

.pointer {
  cursor: pointer;
}
