<div style="width: 100%; overflow: hidden;">
    <div class="Left">
        <br>
        <a routerLink="/tournament" class="previous round">&#8249; Back</a>
        <div class="name"><img class="rotate230" src="\assets\ball.png" width="60" height="60">{{Tournament[0]?.tournamentName}}
            <img class="rotate30" src="\assets\ball.png" width="60" height="60">
        </div>
    </div>
    <div class="Right">
        <div class="summery">
            <button *ngIf="show()" type="button" class="btn btn-info btn-outline-dark" [routerLink]="['/createfixture',tournamentId]">Create Fixture</button>
        </div>
    </div>
</div>

<h4 class="aaa topic">Created Fixtures</h4><br>

<div style="height: 350px; overflow: auto;">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr style="height: 1em;">
                <th scope="col">Institutes</th>
                <th scope="col">Structure</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col">Venue</th>
            </tr>
        </thead>
        <tbody class="body">
            <tr *ngFor="let p of UpcomingFixtures" [routerLink]="['/selectedfixture',p.fixtureId]" class="pointer">
                <td>{{p.instituteone}} vs {{p.institutetwo}}</td>
                <td>{{p.strutureName}}</td>
                <td>{{p.fixtureTime.substring(0,8)}}</td>
                <td>{{p.fixtureDate | date:'mediumDate'}}</td>
                <td>{{p.venue}}</td>
            </tr>
        </tbody>
    </table>
</div>