<br>
<a routerLink="/tournament" class="previous round">&#8249; Back</a>
<div class="name aaa"><img class="rotate230" src="\assets\ball.png" width="60" height="60">{{Tournament[0]?.tournamentName}}
    <img class="rotate30" src="\assets\ball.png" width="60" height="60">
</div>
<div style="width: 100%; overflow: hidden;">
    <div class="Left">
        <div class="aaa" style="padding-top: 2em;">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Team-tab" data-toggle="pill" href="#Team" role="tab" aria-controls="Team" aria-selected="true">
                        <h5>Created Fixtures</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Coach-tab" data-toggle="pill" href="#Coach" role="tab" aria-controls="Coach" aria-selected="false">
                        <h5>Ongoing Fixtures</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Player-tab" data-toggle="pill" href="#Player" role="tab" aria-controls="Player" aria-selected="false">
                        <h5>Finished Fixtures</h5>
                    </a>
                </li>
            </ul>
        </div>

        <div class="aaa">
            <div class="search">
                <input class="form-control" type="text" name="search" [(ngModel)]="serachFixture" autocomplete="off" placeholder="Search any">
            </div>
            <div class="teambutton">
                <button type="button" (click)="serachFixture=''" class="btn btn-warning">Clear</button>&nbsp;
            </div>
        </div>

        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="Team" role="tabpanel" aria-labelledby="Team-tab">

                <!--<div style="height: 350px; overflow: auto;">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr style="height: 1em;">
                                <th scope="col">Institutes</th>
                                <th scope="col">Structure</th>
                                <th scope="col">Time</th>
                                <th scope="col">Date</th>
                                <th scope="col">Venue</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr *ngFor="let p of UpcomingFixtures" [routerLink]="['/selectedfixture',p.fixtureId]" class="pointer">
                                <td>{{p.instituteone}} vs {{p.institutetwo}}</td>
                                <td>{{p.strutureName}}</td>
                                <td>{{p.fixtureTime.substring(0,8)}}</td>
                                <td>{{p.fixtureDate | date:'mediumDate'}}</td>
                                <td>{{p.venue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

                <div style="height: 350px; overflow: auto;">
                    <div style="padding-bottom: 1em;">
                        <div *ngFor="let p of UpcomingFixtures| filter:serachFixture" [routerLink]="['/selectedfixture',p.fixtureId]" class="pointer fixture">
                            <div class="Left1">
                                <div class="fixtureTitle">
                                    {{p.instituteone}} vs<br> {{p.institutetwo}}
                                </div>
                            </div>
                            <div class="Right1">
                                <div class="fixturdetails">
                                    <div>▫ {{p.strutureName}}</div>
                                    <div>▫ {{p.fixtureTime.substring(0,8)}}</div>
                                    <div>▫ {{p.fixtureDate | date:'mediumDate'}}</div>
                                    <div>▫ {{p.venue}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="Coach" role="tabpanel" aria-labelledby="Coach-tab">

                <!--<div style="height: 350px; overflow: auto;">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr style="height: 1em;">
                                <th scope="col">Institutes</th>
                                <th scope="col">Structure</th>
                                <th scope="col">Time</th>
                                <th scope="col">Date</th>
                                <th scope="col">Venue</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr *ngFor="let p of StartedFixtures" [routerLink]="['/ongoing',p.fixtureId]" class="pointer">
                                <td>{{p.instituteone}} vs {{p.institutetwo}}</td>
                                <td>{{p.strutureName}}</td>
                                <td>{{p.fixtureTime.substring(0,8)}}</td>
                                <td>{{p.fixtureDate | date:'mediumDate'}}</td>
                                <td>{{p.venue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

                <div style="height: 350px; overflow: auto;">
                    <div style="padding-bottom: 1em;">
                        <div *ngFor="let p of StartedFixtures| filter:serachFixture" [routerLink]="['/ongoing',p.fixtureId]" class="pointer fixture">
                            <div class="Left1">
                                <div class="fixtureTitle">
                                    {{p.instituteone}} vs<br> {{p.institutetwo}}
                                </div>
                            </div>
                            <div class="Right1">
                                <div class="fixturdetails">
                                    <div>▫ {{p.strutureName}}</div>
                                    <div>▫ {{p.fixtureTime.substring(0,8)}}</div>
                                    <div>▫ {{p.fixtureDate | date:'mediumDate'}}</div>
                                    <div>▫ {{p.venue}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="Player" role="tabpanel" aria-labelledby="Player-tab">

                <!--<div style="height: 350px; overflow: auto;">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr style="height: 1em;">
                                <th scope="col">Institutes</th>
                                <th scope="col">Structure</th>
                                <th scope="col">Time</th>
                                <th scope="col">Date</th>
                                <th scope="col">Venue</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr *ngFor="let p of FinishedFixtures" [routerLink]="['/ongoing',p.fixtureId]" class="pointer">
                                <td>{{p.instituteone}} vs {{p.institutetwo}}</td>
                                <td>{{p.strutureName}}</td>
                                <td>{{p.fixtureTime.substring(0,8)}}</td>
                                <td>{{p.fixtureDate | date:'mediumDate'}}</td>
                                <td>{{p.venue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

                <div style="height: 350px; overflow: auto;">
                    <div style="padding-bottom: 1em;">
                        <div *ngFor="let p of FinishedFixtures| filter:serachFixture" [routerLink]="['/ongoing',p.fixtureId]" class="pointer fixture">
                            <div class="Left1">
                                <div class="fixtureTitle">
                                    {{p.instituteone}} vs<br> {{p.institutetwo}}
                                </div>
                            </div>
                            <div class="Right1">
                                <div class="fixturdetails">
                                    <div>▫ {{p.strutureName}}</div>
                                    <div>▫ {{p.fixtureTime.substring(0,8)}}</div>
                                    <div>▫ {{p.fixtureDate | date:'mediumDate'}}</div>
                                    <div>▫ {{p.venue}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal fade" id="summery" tabindex="-1" role="dialog" aria-labelledby="summeryTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Summery</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #myModalClose2>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div style="height: 350px; overflow: auto;">
                            <table class="table table-hover table-bordered">
                                <thead class="thead-dark">
                                    <tr style="height: 1em;">
                                        <th scope="col">Institute</th>
                                        <th scope="col">Points</th>
                                    </tr>
                                </thead>
                                <tbody class="body">
                                    <tr *ngFor="let p of Summery">
                                        <td>{{p.instituteName}}</td>
                                        <td>{{p.point}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Right">
        <div class="aaa"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#summery">Tournament<br>summery</button><br><br>
            <button *ngIf="show()" type="button" class="btn btn-info btn-outline-dark" [routerLink]="['/createfixture',tournamentId]">Create Fixture</button>
        </div>
    </div>
</div>