<div style="width: 100%; overflow: hidden;">
    <div class="Left">
        <br>
        <a routerLink="/" class="previous round">&#8249; Back</a>
        <div class="aaa" style="padding-top: 0em;">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Team-tab" data-toggle="pill" href="#Team" role="tab" aria-controls="Team" aria-selected="true">
                        <h5>Teams</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Coach-tab" data-toggle="pill" href="#Coach" role="tab" aria-controls="Coach" aria-selected="false">
                        <h5>Coaches</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Player-tab" data-toggle="pill" href="#Player" role="tab" aria-controls="Player" aria-selected="false">
                        <h5>Players</h5>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="Team" role="tabpanel" aria-labelledby="Team-tab">
                <div class="aaa">
                    <div class="search-hero">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search team">
                    </div>
                    <button type="button" class="btn btn-success" routerLink="/createteam">Create Team</button>
                </div><br>

                <div style="height: 500px; overflow: auto;padding-bottom: 1em;">
                    <div style="padding-bottom: 2em;">
                        <div *ngFor="let e of Teams  | filter:searchText" [routerLink]="['/adminteam',e.teamId]" class="pointer" [class.Team1]="checkcricket(e.sportName)" [class.Team2]="checkfootballe(e.sportName)" [class.Team3]="checkrugby(e.sportName)">
                            <div class="Left1">
                                <div [class.cricketname]="checkcricket(e.sportName)" [class.footballname]="checkfootballe(e.sportName)" [class.footballname]="checkrugby(e.sportName)">{{e.teamName}}
                                </div>
                            </div>
                            <div class="Right1">
                                <div class="Details">
                                    <div>▫ {{e.sportName}}</div>
                                    <div>▫ {{e.strutureName}}</div>
                                    <div>▫ Coach {{e.coachFName}}</div>
                                    <div>▫ Wins-{{e.teamWins}}</div>
                                    <div>▫ Losses-{{e.teamLoss}}</div>
                                    <div>▫ No of Players-{{e.Players}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div style="height: 500px; overflow: auto;">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr style="height: 1em;">
                                <th scope="col">Name</th>
                                <th scope="col">Coach</th>
                                <th scope="col" class="Sport">Sport</th>
                                <th scope="col">Structure</th>
                                <th scope="col" class="wins">Wins</th>
                                <th scope="col" class="Losses">Losses</th>
                                <th scope="col" class="Players">Players</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr *ngFor="let e of Teams" [routerLink]="['/adminteam',e.teamId]" class="pointer">
                                <td>{{e.teamName}}</td>
                                <td>{{e.coachFName}} {{e.coachLName}}</td>
                                <td>{{e.sportName}}</td>
                                <td>{{e.strutureName}}</td>
                                <td>{{e.teamWins}}</td>
                                <td>{{e.teamLoss}}</td>
                                <td>{{e.Players}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>-->

            </div>

            <div class="tab-pane fade" id="Coach" role="tabpanel" aria-labelledby="Coach-tab">

                <div class="aaa">
                    <button type="button" class="btn btn-success" routerLink="/createcoach">Create Coach</button>
                </div><br>

                <!--<div style="height: 500px; overflow: auto;padding-top: 1.5em;">
                    <table class="table table-hover table-bordered ">
                        <thead class="thead-dark">
                            <tr style="height: 1em;">

                                <th scope="col">Name</th>
                                <th scope="col">Sport</th>
                                <th scope="col">Teams</th>
                                <th scope="col">Mobile No</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr *ngFor="let c of Coaches" class="pointer" [routerLink]="['/coachProfile',c.userId]">
                                <td>{{c.coachFName}} {{c.coachLName}}</td>
                                <td>{{c.sportName}}</td>
                                <td>{{c.teams}}</td>
                                <td>{{c.coachNumber}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

                <div style="height: 500px; overflow: auto;">
                    <div style="padding-bottom: 2em;">
                        <div *ngFor="let e of Coaches" [routerLink]="['/coachProfile',e.userId]" [class.cricketcoach]="checkcricket(e.sportName)" class="pointer" [class.footballcoach]="checkfootballe(e.sportName)" [class.rugbycoach]="checkrugby(e.sportName)">
                            <div class="Left2">
                                <div class="coachname">{{e.coachFName}}<br> {{e.coachLName}}</div>
                            </div>
                            <div class="Right2">
                                <div class="coachdetails">
                                    <div>▫ {{e.sportName}} coach</div>
                                    <div>▫ {{e.coachNumber}}</div>
                                    <div>▫ {{e.teams}} teams</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="Player" role="tabpanel" aria-labelledby="Player-tab">

                <div class="aaa">
                    <button type="button" class="btn btn-success" routerLink="/createplayer">Create Player</button>
                </div><br>

                <!--<div style="height: 500px; overflow: auto;padding-top: 1.5em;">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr style="height: 1em;">

                                <th scope="col">Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Age</th>
                                <th scope="col">Mobile No</th>
                                <th scope="col">Teams</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr *ngFor="let p of Players" class="pointer" [routerLink]="['/playerProfile',p.userId]">
                                <td>{{p.playerFName}} {{p.playerLName}}</td>
                                <td>{{p.playerGender}}</td>
                                <td>{{p.playerDOB | date:'mediumDate' }}</td>
                                <td>{{p.playerteleNum}}</td>
                                <td>{{p.teams}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

                <div style="height: 500px; overflow: auto;">
                    <div style="padding-bottom: 1em;">
                        <div *ngFor="let p of Players" [routerLink]="['/playerProfile',p.userId]" class="player pointer">
                            <div class="Left3">
                                <div class="playername">{{p.playerFName}}<br> {{p.playerLName}}</div>
                            </div>
                            <div class="Right3">
                                <div class="playerdetails">
                                    <div>▫ {{p.playerGender}}</div>
                                    <div>▫ {{p.playerteleNum}}</div>
                                    <div>▫ In {{p.teams}} teams</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="Right">
        <div class="Team">
            <p></p>
        </div>

        <div class="menu">
            <button type="button" class="btn btn-dark" routerLink="/tournament">Tournaments</button>
        </div><br>

        <div class="menu">
            <button type="button" class="btn btn-warning">Announcement</button>
        </div><br>

        <div class="detail">
            <p class="aaa"><span class="title">Code : {{InstituteProfile[0]?.secretNo}}</span></p>
        </div>
        <div class="aaa">
            <div class="holder"><span class="large_numbering aaa">{{TeamCount[0]?.noOfTeams}}</span> <span class="some_heading">Teams</span></div><br><br><br>
            <div class="holder"><span class="large_numbering aaa">{{CoachCount[0]?.noOfCoaches}}</span> <span class="some_heading">Coaches</span></div><br><br><br>
            <div class="holder"><span class="large_numbering aaa">{{PlayerCount[0]?.noOfPlayers}}</span> <span class="some_heading">Players</span></div><br><br>
        </div>
    </div>
</div>