
<h2>Who are you?</h2><br><br>

<div>
    <table align="center">
        <tr>
            <td><a routerLink="/player">
                <div><img src="/assets/player.jpg" style="height:15em;width: 15em;">
                </div></a>
                <br>
                <button type="button" class="btn btn-success" routerLink="/player">Player</button>
            </td>
            <td><a routerLink="/coach">
                <div><img src="/assets/coach.jpg" style="height:15em;width: 15em;">
                </div></a>
                <br>
                <button type="button" class="btn btn-success" routerLink="/coach">Coach</button>
            </td>
            <td><a routerLink="/parent">
                <div><img src="/assets/parent.jpg" style="height:15em;width: 15em;">
                </div></a>
                <br>
                <button type="button" class="btn btn-success" routerLink="/parent">Parent</button>
            </td>
        </tr>
    </table>
</div>