<section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="/assets/31342.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Manage your sport Easier and Faster</h2>
        <div>
          <a data-toggle="modal" data-target="#staticBackdrop" class="btn-get-started scrollto">Log in</a>
          <a routerLink="/signup" class="btn-services scrollto">Sign up</a>
        </div>
      </div>

    </div>
  </section>

    <!--==========================
      About Us Section
    ============================-->
<section id="about">
  <div class="container">
    <header class="section-header">
        <h3><button routerLink="/login" class="btn-success">check</button><br>About Us</h3>
        <p>This is our second year software project<br><br>
            Supun Madushanka<br>
            Nishan Shmika<br>
            Sagara Krishantha<br>
            Udari Sanjeewani
        </p>
    </header>
   </div>
</section>
